<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="phone" class="com.soft1851.spring.ioc.entity.Phone">
        <constructor-arg name="brand" value="iPhone11"/>
        <constructor-arg name="price" value="8888" />
    </bean>

    <bean class="com.soft1851.spring.ioc.entity.Phone" id="phone2" p:brand="iPhoneX" p:price="7788"/>
    <bean class="com.soft1851.spring.ioc.entity.Phone" id="phone3" p:brand="MI10" p:price="5999"/>


    <bean id="student" class="com.soft1851.spring.ioc.entity.Student">
        <property name="name" value="zeng" />
        <property name="phone" ref="phone" />
    </bean>


    <bean class="com.soft1851.spring.ioc.entity.Student" id="student2" >
        <property name="name" value="王麻子" />
        <property name="phones">
            <list>
                <ref bean="phone2"/>
                <ref bean="phone3"/>
            </list>
        </property>
        <property name="hobbies">
            <set>
                <value>"编程"</value>
                <value>"打球"</value>
                <value>"看电影"</value>
            </set>
        </property>
        <property name="phoneMap">
            <map>
                <entry key="phone1" value-ref="phone"/>
                <entry key="phone2" value-ref="phone2"/>
                <entry key="phone3" value-ref="phone3"/>
            </map>
        </property>
    </bean>

    <!-- 手动开启扫包操作-->
    <context:component-scan base-package="com.soft1851.spring.ioc.config"/>

    <!-- 排序-->
    <bean id="sort" class="com.soft1851.spring.ioc.sort.Sort" />

</beans>